In [3]:
#review  -- basic

In [4]:
# 4 data type

In [5]:
a = 'string'
b = 4
c = 4.6
d = True
print (type(a), type(b), type(c), type(d))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

In [6]:
# data container

In [7]:
my_list = [a, b, c, d]
my_tuple = (a, b, c, d)
my_dict = {a:b, c:d}

print (my_list, type(my_list), my_tuple, type(my_tuple),
       my_dict, type(my_dict))

['string', 4, 4.6, True] <class 'list'> ('string', 4, 4.6, True) <class 'tuple'> {'string': 4, 4.6: True} <class 'dict'>

In [8]:
# container function

In [10]:
my_list.append('Flase')
print (my_list)
my_list.pop(1)
print (my_list)

['string', 4, 4.6, True, 'Flase', 'Flase']
['string', 4.6, True, 'Flase', 'Flase']

In [11]:
# list slicing

In [18]:
my_list[:]

['string', 4.6, True, 'Flase', 'Flase']

In [19]:
my_list_1 = ['a', 'b', 'c', 'd']
my_list_2 = ['b', 'd', 'a', 'c']

In [22]:
my_list_1 == my_list_2

False

In [24]:
my_dict_1 = {'a' : 'b', 'c' : 'd', 'e' : 'f'}
my_dict_2 = {'c' : 'd', 'a' : 'b', 'e' : 'f'}

my_dict_1 == my_dict_2

True

In [33]:
my_dict_1 = {'a' : 1, 'a' : 2}

In [34]:
my_dict_1

{'a': 2}

In [35]:
# tuple inmutable

In [36]:
my_list

['string', 4.6, True, 'Flase', 'Flase']

In [37]:
my_list[0] = 78

In [38]:
my_list

[78, 4.6, True, 'Flase', 'Flase']

In [39]:
my_tuple

('string', 4, 4.6, True)

In [40]:
my_tuple[0] = 78

TypeError: 'tuple' object does not support item assignment

In [41]:
# for loop

In [42]:
for _ in my_list :
    print (_)

78
4.6
True
Flase
Flase

In [43]:
for _ in my_tuple :
    print (_)

string
4
4.6
True

In [48]:
my_dict

{'string': 4, 4.6: True}

In [47]:
for key in my_dict.keys() :
    print (my_dict.keys())
    print (key)
    
for value in my_dict.values() :
    print (my_dict.values())
    print (value)
    
for key, value in my_dict.items() :
    print (my_dict.items())
    print (key, value)

dict_keys(['string', 4.6])
string
dict_keys(['string', 4.6])
4.6
dict_values([4, True])
4
dict_values([4, True])
True
dict_items([('string', 4), (4.6, True)])
string 4
dict_items([('string', 4), (4.6, True)])
4.6 True

In [49]:
my_dict_3 = {1 : 'a', 2 : 'b', 3 : 'c'}

In [50]:
my_dict_3[3]

'c'

In [51]:
# reivew if statment

In [52]:
my_list = [1, 2, 4, 6, 99, 100, 29]

In [54]:
for _ in my_list :
    if _ >50 :
        print ('greater than 50 : ' + str(_))
    elif _ < 5 :
        print ('less than 5 : ' + str(_))
    elif _ > 10 :
        print ('greater than 10 :' + str(_))
    else :
        print ('do nothing')

less than 5 : 1
less than 5 : 2
less than 5 : 4
do nothing
greater than 50 : 99
greater than 50 : 100
greater than 10 :29

In [59]:
for _ in my_list :
    if _ == 4 :
        print ('oh i found it : ' + str(_))
        break
    elif _ >50 :
        print ('greater than 50 : ' + str(_))
    elif _ < 5 :
        print ('less than 5 : ' + str(_))
    elif _ > 10 :
        print ('greater than 10 :' + str(_))
    else :
        print ('do nothing')

less than 5 : 1
less than 5 : 2
oh i found it : 4

In [61]:
# function

In [65]:
def add(a, b, c, d) :
    return (a+b, c+d)

In [66]:
sum_ = add(5, 7, 3, 8)

In [69]:
h, k = add(5, 7, 3, 8)

In [67]:
sum_

(12, 11)

In [70]:
print (h, k)

12 11

In [68]:
type(sum_)

tuple

In [60]:
# func paramters

In [76]:
def add(arg, *args) :
    if args :
        print (args)
        for each_arg in args :
            print (each_arg)

In [77]:
add(5, 1, 6, 8, 9)

(1, 6, 8, 9)
1
6
8
9

In [78]:
# for loop & loop & func

In [79]:
my_list = [3, 5, 7, 9, 90, 100, 105, 999, 888, 777]

In [80]:
# creat a function : 個位數，十位數，百位數，千位數

In [81]:
# 判斷完之後， 個位數的總和，十位數的總合，百位數總合，

In [82]:
# function 先create好，在用在for loop 中

```python
def my_fun(a) :
    bala bala
 
for i in my_list :
    sum = my_fun(i)
```

In [84]:
def check_len_sum(ls):
    n_digit = []
    n_ten = []
    n_hundred = []
    n_thousand = []
    for i in ls:
        if len(str(i)) == 1:
            n_digit.append(i)
        elif len(str(i)) == 2:
            n_ten.append(i)
        elif len(str(i)) == 3:
            n_hundred.append(i)
        elif len(str(i)) == 4:
            n_thousand.append(i)
    print(
        "Number of units digit =", len(n_digit), "and sum =", sum(n_digit), "\n",
        "Number of tens digit =", len(n_ten), "and sum =", sum(n_ten), "\n",
        "Number of hundreds digit =", len(n_hundred), "and sum =", sum(n_hundred), "\n",
        "Number of thousands digit =", len(n_thousand), "and sum =", sum(n_thousand)
    )

In [85]:
check_len_sum(my_list)

Number of units digit = 4 and sum = 24
 Number of tens digit = 1 and sum = 90
 Number of hundreds digit = 5 and sum = 2869
 Number of thousands digit = 0 and sum = 0

In [86]:
# another thinking

In [115]:
number1 =[]
number2 = []
number3 = []

In [118]:
def my_func(*number) :
    number1= []
    number2 = []
    number3 = []
    for each in number :
        if each  < 10 :
            number1.append(each)
        elif 10 <= each < 100 :
            number2.append(each)
        elif 100 <= each < 1000 :
            number3.append(each)
        else :
            pass
    return (sum(number1), sum(number2), sum(number3))

In [119]:
my_func(*my_list)

(24, 90, 2869)

In [109]:
def my_func(each) :
    if each< 10 :
        return ('<10 : ' + str(each))
    elif 10 <= each < 100 :
        return ('10<=x<100 : ' + str(each))
    elif 100 <= each < 1000 :
        return ('100<=x<1000 : ' + str(each))

In [114]:
a = []
b = []
c = []
for i in my_list :
    if my_func(i).startswith('<10') :
        a.append(i)
    elif my_func(i).startswith('10<='):
        b.append(i)
    elif my_func(i).startswith('100<=') :
        c.append(i)
print (sum(a), sum(b), sum(c))

24 90 2869

In [111]:
print (all_output)

['<10 : 3', '<10 : 5', '<10 : 7', '<10 : 9', '10<=x<100 : 90', '100<=x<1000 : 100', '100<=x<1000 : 105', '100<=x<1000 : 999', '100<=x<1000 : 888', '100<=x<1000 : 777']

In [116]:
a = [1]
a = []

In [117]:
a

[]